In [1]:
import json
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests
import datetime

In [2]:
def GetData(wikipedia_page,start_date,end_date):
    urlstr = "https://wikimedia.org/api/rest_v1/metrics/pageviews/per-article/en.wikipedia.org/all-access/user/{0}/daily/{1}/{2}"
    url = urlstr.format(wikipedia_page, start_date, end_date)
    r = requests.get(url)
    data = json.loads(r.text)
    items = data['items']
    df = pd.DataFrame(columns=['Time','Views'])
    df = df.astype(np.int)
    for i in range(len(items)):
        number_of_views = items[i]['views']
        timestamp = items[i]['timestamp']
        time = datetime.datetime.strptime(timestamp[0:-2], "%Y%m%d").date()
        df.loc[len(df)] = [time,number_of_views]
        
    return df

In [3]:
%timeit GetData('Donald Trump', '20150701', '20161130')

2.16 s ± 478 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [8]:
GetData('Donald Trump', '20150701', '20161130')

           Time   Views
0    2015-07-01   81749
1    2015-07-02   83055
2    2015-07-03   55174
3    2015-07-04   43373
4    2015-07-05   41914
..          ...     ...
514  2016-11-26  115301
515  2016-11-27  116033
516  2016-11-28  110044
517  2016-11-29  103592
518  2016-11-30  106494

[519 rows x 2 columns]

In [6]:
def GetDataDic(wikipedia_page,start_date,end_date):
    urlstr = "https://wikimedia.org/api/rest_v1/metrics/pageviews/per-article/en.wikipedia.org/all-access/user/{0}/daily/{1}/{2}"
    url = urlstr.format(wikipedia_page, start_date, end_date)
    r = requests.get(url)
    data = json.loads(r.text)
    items = data['items']
    lis = []
    
    for i in range(len(items)):
        number_of_views = items[i]['views']
        timestamp = items[i]['timestamp']
        time = datetime.datetime.strptime(timestamp[0:-2], "%Y%m%d").date()
        curr_row = {'Views':number_of_views,'Time':time}
        lis.append(curr_row)
    df = pd.DataFrame(lis)
        
    return df

In [7]:
%timeit GetDataDic('Donald Trump', '20150701', '20161130')

1.32 s ± 339 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [9]:
GetDataDic('Donald Trump', '20150701', '20161130')

      Views        Time
0     81749  2015-07-01
1     83055  2015-07-02
2     55174  2015-07-03
3     43373  2015-07-04
4     41914  2015-07-05
..      ...         ...
514  115301  2016-11-26
515  116033  2016-11-27
516  110044  2016-11-28
517  103592  2016-11-29
518  106494  2016-11-30

[519 rows x 2 columns]